---
stages:
  - test
  - sonarqube

variables:
  # SonarQube project name
  PROJECT_NAME: "exd-guild-rhel-workflow-automation:retasc"
  COVERAGE_XML: coverage.xml
  JUNIT_XML: report.xml

workflow:
  rules:
    # Avoid running CI on automated dependency updates (often partial)
    - if: '$CI_COMMIT_BRANCH !~ /^konflux\/mintmaker/'

# code-scanning-container
# Requires SONAR_TOKEN variable in GitLab project.
include:
  - project: rhelwfautomation/rhelwf-images
    file: gitlab-ci-runner-tag.yaml
    ref: main
  - project: security-guild/code-scanning-container
    file: code_scanning-gitlab-ci.yml

unittests:
  image:
    name: quay.io/fedora/python-313:latest@sha256:654df0c971e86e9ecb781e55a7d7860b7e07bc66c8f60d1ce2c28ef09d1556c3
  stage: test
  script:
    - pip install tox
    - tox -e py3 -- --junit-xml="${JUNIT_XML}"
  coverage: '/Total coverage: \d+\.\d+\%/'
  artifacts:
    paths:
      - $COVERAGE_XML
      - $JUNIT_XML
    reports:
      junit: $JUNIT_XML
      coverage_report:
        coverage_format: cobertura
        path: $COVERAGE_XML

sonarqube-scan-sast:
  variables:
    # Larger memory requirements for Java/SonarQube
    KUBERNETES_MEMORY_REQUEST: "2Gi"
    KUBERNETES_MEMORY_LIMIT: "2Gi"
  stage: sonarqube
  needs:
    - unittests

owasp_dependency_check-scan:
  rules:
    # Avoid failing pipeline on unstable OWASP scan
    - allow_failure: true
      when: on_success
