[tool.poetry]
name = "retasc"
version = "0.1.0"
description = "Plans product release work in Jira based on schedules in Product Pages"
authors = [
  "Red Hat, Inc. and others"
]
license = "GPL-3.0-or-later"
readme = "README.md"
packages = [{include = "retasc", from = "src"}]
repository = "https://github.com/release-engineering/retasc"

[tool.poetry.dependencies]
python = "^3.13"

opentelemetry-sdk = "^1.26.0"
opentelemetry-instrumentation-flask = "^0.47b0"
opentelemetry-instrumentation-requests = "^0.47b0"
opentelemetry-exporter-otlp-proto-http = "^1.26.0"

requests = "^2.32.0"
urllib3 = "^2.2.3"
pydantic = "^2.9.2"
pyyaml = "^6.0.1"
atlassian-python-api = "^3.41.16"
Jinja2 = "^3.1.4"

[tool.poetry.group.dev.dependencies]
requests-mock = "^1.12.1"
pytest = "^8.3.3"
pytest-cov = "^5.0.0"

[tool.poetry.scripts]
retasc = "retasc.__main__:main"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
